@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-y: scroll;
  }

  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-purple-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-400;
}
